<% include ./partials/header %>

    <div class="jumbotron jumbotron-fluid py-4">
        <div class="container">
            <h1 class="display-5">Kiki's CookBook</h1>
            <p class="lead">This is a simple site where I can easily navigate through my personal collection of recipes.</p>
            <hr class="my-3">
            <p>The work is still in progress, additional features will be added shortly!</p>
            <div class="d-flex">
                <% if (currentUser) { %>
                <a class="btn btn-regular btn-md" href="/recipes/new" role="button">Add New Recipe</a>
                <% } %>
                <% if (!currentUser) { %>
                    <a class="btn btn-regular btn-md mr-2 ml-auto" href="/login" role="button">Sign In</a>
                    <a class="btn btn-regular btn-md" href="/register" role="button">Register</a>
                    <% } else { %>
                        <p class="ml-auto mb-0 mr-2 btn logged-in-as" disabled="true">Logged in as
                            <%= currentUser.username %>
                        </p>
                        <a class="btn btn-regular btn-md" href="/logout" role="button">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>

    <main class="container" id="recipes-card-container">
        <div class="grid card-columns">
            <% recipes.forEach(function(recipe){ %>
                <div class="card">
                    <a href="/recipes/<%= recipe._id %>">
                        <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.title%>">
                    </a>
                    <div class="card-body">
                        <a href="/recipes/<%= recipe._id %>">
                            <h2 class="card-title">
                                <%= recipe.title %>
                            </h2>
                        </a>
                        <ul class="card-text">
                            <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
                                <% if (recipe.ingredients[i].amount == null) { %>
                                    <li>
                                        <%= recipe.ingredients[i].name %>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <%= recipe.ingredients[i].amount  + " " + recipe.ingredients[i].unit + " " + recipe.ingredients[i].name %>
                                        </li>
                                        <% }; %>
                                            <% }; %>
                        </ul>
                        <div class="chevron">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </main>

    <% include ./partials/footer %>