<% include ./partials/header.ejs %>

<div class="container" id="show-recipe-container">
    <h3 id="recipe-title"><%= recipe.title %></h3>
    <div class="row" id="basic-info">
        <div class="col col-md-6 col-sm-12">
            <img class="recipe-image" src="<%= recipe.image %>">
        </div>
        <div class="col col-md-6 col-sm-12 mt-auto">
            <p class="prep-times"><span class="font-weight-bold">Preparation:</span><span class="float-right"><%= recipe.prepTime %> min</span></p>
            <p class="prep-times"><span class="font-weight-bold">Cooking:</span><span class="float-right"><%= recipe.cookingTime %> min</span></p>
            <div class="mb-0 prep-times">
                <span class="font-weight-bold">Servings:</span>
                <span class="float-right">
                    <form id="no-of-servings">
                        <input type="number" min="1" id="no-of-servings-input" value="<%= recipe.servings %>">
                    </form>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="ingredients">
        <% recipe.ingredients.forEach (function(ingredient) { %>
            <p class="ingredient mb-1"><span class="font-weight-bold original-no-of-ingredients"><%= ingredient.amount %></span><%= " " + ingredient.unit + " " + ingredient.name %></p>
        <% }); %>
    </div>
    <hr>
    <div class="directions">
        <% for (var i =0; i < recipe.directions.length; i++) { %>
            <div>
                <p class="direction"><%= i + 1 + '. ' + recipe.directions[i] %></p>
            </div>
        <% }; %>
    </div>
    <p><em>Submitted By <%= recipe.author.username || "Anonymous" %></p></em>
    <% if (currentUser && recipe.author.id.equals(currentUser._id) || currentUser && currentUser.admin) { %>
        <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-regular">Edit</a>
        <button type="button" class="btn btn-regular" data-toggle="modal" data-target="#deleteModal">
            Delete
        </button>
        
    <% } %>
    <a href="/recipes" class="btn btn-regular">Back</a>
  
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete <%= recipe.title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you really want to remove the recipe for <%= recipe.title %>?
          </div>
          <div class="modal-footer">
            <form class="delete-button" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete"/>
            </form>
            <button type="button" class="btn btn-regular" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  

</div>

<% include ./partials/footer.ejs %>